* {
  margin: 0px;
  padding: 0px;
}
body {
   font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
  background: linear-gradient(135deg, #0d0705 0%, #1e0f09 50%, #2b160d 100%);
    background-attachment: fixed;
}

header {
  position: sticky;
  z-index: 1000;
  top: 0;
}

html{
  scroll-behavior: smooth;
}

.container1 {
  display: flex;
  border: 1px solid rgba(66, 29, 3);
  margin: 0 px;
  background-color: #2b1e1b;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  padding: 10px 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0px 40px linear-gradient(90deg, rgba(48, 40, 8, 1) 0%, rgba(92, 83, 7, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.container1 nav ul {
  display: flex;
  gap: 50px;
  list-style: none;
  margin-right: 0px;
  margin-left: 0px;
  color: aliceblue;
}
.sign {
  margin: 0;
  border: 1px solid rgb(20, 18, 0);
  width: 50px;
  height: 35px;
  border-radius: 100px;
  background: linear-gradient(135deg, #8c5a3c 0%, #e0a96d 100%);
  backdrop-filter: blur(20px);
  transition: all 0.3s ease;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.sign:hover {
  transform: translateY(2px);
  box-shadow: 0 6px 15px rgba(224, 169, 109, 0.4);
}
.container1 a,
li {
  color: aliceblue;
  text-decoration: none;
 
}

.container1 nav a:hover,
.container1 nav a:focus,
.container1 nav a:active {
  color: #e0a96d;
  text-shadow: 0 0 20px rgba(227, 132, 31, 0.8);
  transition: 0.5s ease;
}

.container1 h3 {
  font-size: 1.2rem;
  color: aliceblue;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.logo img {
  height: 40px;
  width: auto;
  border-radius: 100px;
  margin-top: 10px;
}

.logo {
  display: flex;
  gap: 30px;
  text-align: center;
  margin-left: 30px;
}

.container2 {
  position: relative;
  width: 200%;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.gambarlogo {
  width: 50%;
  height: 200px;
  object-position: center;
  height: 500px;

  filter: brightness(0.8);
}

.hero-text {
  position: absolute;
  top: 15%;
  left: 150px;
  color: #fefefd;
}

.text {
  border: 1px solid chocolate;
  border-radius: 100px;
  width: 190px;
  background-color: #2b1e1b;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 40px;
}

.hero-text h2 {
  top: 10%;
  font-size: 40px;
  background: linear-gradient(135deg, #f4e8c1 0%, #e0a96d 50%, #8c5a3c 100%);
  -webkit-background-clip: text;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.8));
  -webkit-text-fill-color: transparent;
  margin-right: 20px;
}

.tombol-custom {
  margin-top: 30px;
  border: 1px solid #2b1e1b;
  padding: 10px 15px;
  border-radius: 100px;
  background: linear-gradient(180deg, rgba(43, 30, 27, 0.85) 0%, rgba(20, 13, 11, 0.95) 100%);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(224, 169, 109, 0.2);
  color: #ffffff;
  transition: all 0.3s ease;
}

.tombol-custom:hover {
  background-color: #381f05;
  color: #fffefe;
  transform: translateY(3px);
  box-shadow: 0 8px 20px rgba(224, 169, 109, 0.4);
}

.container3 {
  padding: 35px 30px;
  margin-left: 50px;
  font-size: 15px;
}

.container3 p {
  margin-top: 15px;
  color: #e0a96d;
  text-align: center;
 
}

.container3 h2{
  color: #f4e8c1;
  text-align: center;
  font-size: 35px;
  font-style: bold;
}

.gambar1 {
  height: 200px;
  width: 183px;
  border-radius: 20px;
  margin-right: 5px;
}

.menu-1 {
  margin-top: 20px;
  border: 2px solid #2b1e1b;
  border-radius: 20px;
  width: 183px;
  height: 320x;
  background: linear-gradient(135deg, #2c1810 0%, #6f4e37 100%);
  backdrop-filter: blur(10px);
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 0 15px rgba(111, 78, 55, 0.2);
}

.menu-coffee {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

.Harga {
  color: #ffff;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
}

.menu-1 h3 {
  text-align: center;
  margin-top: 10px;
   background: linear-gradient(135deg, #f4e8c1 0%, #e0a96d 50%, #8c5a3c 100%);
  -webkit-background-clip: text;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.8));
  -webkit-text-fill-color: transparent;
}

.menu-1 button {
  display: block;
  border: 1px solid saddlebrown;
  margin: 10px auto;
  padding: 5px 10px;
  background: linear-gradient(180deg, rgba(43, 30, 27, 0.85) 0%, rgba(20, 13, 11, 0.95) 100%);
  border-radius: 100px;
  color: #fffefe;
}

.gambar2 {
  height: 200px;
  width: 183px;
  border-radius: 20px;
  margin-right: 5px;
}

.Harga2 {
  color: #ffff;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;

}

.menu-2{
  margin-top: 20px;
  border: 2px solid #2b1e1b;
  border-radius: 20px;
  width: 183px;
  height: 320x;
  background: linear-gradient(135deg, #2c1810 0%, #6f4e37 100%);
  backdrop-filter: blur(15px);
  justify-content: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 0 15px rgba(111, 78, 55, 0.2);
}

.menu-2 button{
  display: block;
  border: 1px solid saddlebrown;
  margin: 10px auto;
  padding: 5px 10px;
  background: linear-gradient(180deg, rgba(43, 30, 27, 0.85) 0%, rgba(20, 13, 11, 0.95) 100%);
  border-radius: 100px;
  color: #fffefe;

}



.menu-2 h3{
  text-align: center;
  margin-top: 10px;
   background: linear-gradient(135deg, #f4e8c1 0%, #e0a96d 50%, #8c5a3c 100%);
  -webkit-background-clip: text;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.8));
  -webkit-text-fill-color: transparent;
}
